@import "tailwindcss";
:root {
  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}